/node_modules
/bootstrap/cache/

#public
/public/storage
/public/images/menu_categories/*
/public/images/menus/*
/public/images/user_profiles/
/public/hot

/vendor
.env
.env.backup
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

#storage
/storage/*.key
/storage/logs/
/storage/framework/views/
/storage/framework/cache/
/storage/framework/sessions/*