main{
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden;

    @import 'header';

    @import 'breadcrumb';

    @import 'filters';

    @import 'content';

    @import 'dashboard';

    // this is in POS
    .dashboard-content{
        display: flex;
        overflow: hidden;

        .menus-orders{
            flex: 1;
            overflow: hidden;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .dashboard-menus{
                flex: 2;
                padding: 15px;
                display: flex;
                flex-direction: column;
                background-color: #fff;
                box-shadow: $shadow;
                border-radius: 4px;
                margin-right: 20px;

                ul.menu-categories{
                    overflow: hidden;
                    list-style-type: none;
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    margin-bottom: 5px;

                    li.menu-items{
                        display: flex;
                        margin-bottom: 10px;
                        margin-right: 10px;

                        .btn-filters{
                            color: $toolbar;
                            text-decoration: none;
                            padding: 5px 15px;
                            transition: all 0.2s ease;
                            font-size: .9em;
                            color: $toolbar;
                            border-radius: 20px;
                            background-color: $primary;

                            &:hover{
                                background-color: $inactive;
                                color: $toolbar;
                            }

                            &:active{
                                background-color: $btn-primary;
                                color: #fff;
                            }
                        }

                        .btn-filter-focus{
                            background-color: $btn-primary;
                            color: #fff;
                            box-shadow: $shadow;

                            &:hover{
                                background-color: $btn-primary;
                                color: #fff;
                            }
                        }
                    }
                }

                .search-control{
                    text-align: right;
                    margin-bottom: 15px;
                    padding: 0 10px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border-radius: 4px;
                    border: 1px solid $inactive;
                    transition: all 0.3s ease;
                    background-color: #fff;

                    .search-icon{
                        position: relative;
                        top: 2.5px;
                        color: $inactive;
                    }

                    .form-control{
                        font-weight: 500;
                        font-size: .9em;    
                        font-family: $font-family;
                        flex: 1;
                        padding: 10px;
                        outline: none;
                        border: none;
                    }

                    &:focus-within{
                        border: 1px solid $btn-primary;
                        box-shadow: $shadow;
                        background-color: #fff;
                    }
                }

                #myGrid{
                    width: 100%;
                }

                .btn-add{
                    font-weight: 500;
                    padding: 9px 13px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    color: #fff;
                    font-family: $font-family;
                    background-color: $btn-primary;
                    box-shadow: $shadow;

                    &:hover{
                        opacity: .9;
                    }

                    &:active{
                        background-color: #999;
                    }
                }
            }

            .dashboard-orders{
                flex: 1.2;
                padding: 15px;
                background-color: #fff;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                box-shadow: $shadow;
                border-radius: 4px;

                .add-link{
                    display: flex;
                    margin-bottom: 15px;

                    a{
                        flex: 1;
                        text-decoration: none;
                        padding: 10px;
                        border-radius: 4px;
                        background-color: #fff;
                        border: 1px solid $btn-add;
                        color: $btn-add;
                        font-size: 0.9em;
                        font-weight: 500;
                        text-align: center;
                        box-shadow: $shadow;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .feather{
                            margin-right: 5px;
                        }

                        &:active{
                            background-color: $btn-add;
                            color: #fff;
                        }
                    }
                }

                h3{
                    font-weight: 500;
                    color: $toolbar;
                    margin-bottom: 15px;
                }

                .btn-section{
                    font-weight: 500;
                    color: $btn-primary;
                    margin-bottom: 15px;
                    font-family: $font-family;
                    font-size: 1em;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: none;
                    outline: none;
                    background-color: #fff;
                    cursor: pointer;
                    transition: all .4s ease;                    

                    .feather{
                        position: relative;
                        top: 2.5px;
                    }

                    &:hover{
                        color: $btn-secondary;
                    }
                }

                .no-orders{
                    text-align: center;
                    padding: 20px;
                    display: none;

                    h2{
                        color: $default;
                        font-family: $font-family;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .feather{
                            width: 40px !important;
                            height: 40px !important;
                            margin-right: 15px;
                        }
                    }
                }

                .other-options{
                    text-align: right;
                    margin-bottom: 15px;
                    display: none;

                    .btn-remove-all{
                        box-shadow: $shadow;
                        outline: none;
                        font-family: $font-family;
                        background-color: #fff;
                        border: 1px solid $red;
                        color: $red;
                        font-size: .9em;
                        padding: 7px 10px;
                        border-radius: 4px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .feather{
                            margin-right: 5px;
                        }

                        &:active{
                            background-color: $red;
                            color: #fff;
                        }
                    }
                }

                #order-lists{
                    overflow: hidden;
                    transition: all 1s ease;
                    max-height: 100%;
                }

                .order-lists{
                    height: 40vh;
                    overflow-y: auto !important;
                }

                .order-list{
                    overflow: hidden;
                    padding: 10px;
                    margin-bottom: 15px;
                    border-radius: 4px;
                    border: 1px solid #f3f3f3;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    transition: all 0.4s ease;

                    .menu-info{
                        display: flex;

                        .form-control{
                            width: 15%;
                            font-family: $font-family !important;
                            border-radius: 4px;
                            outline: none;
                            transition: all 0.3s ease;
                            border: 1px solid #ddd;
                            font-weight: 600;
                            font-size: 1.2em;
                            background-color: #fafafa;
                            text-align: center;
                            color: $toolbar;

                            &:focus{
                                border: 1px solid $btn-primary;
                                background-color: #fff;
                            }
                        }

                        .order-menu{
                            flex: 1;
                            text-align: left;
                            margin: 0 10px;

                            h4{
                                font-weight: 500;
                                color: $toolbar;
                            }

                            p{
                                font-size: .9em;
                                color: $default;
                            }
                        }
                    }

                    .void-menu{
                        .btn-remove{
                            padding: 5px 8px !important;
                            border: 1px solid $inactive;
                            background-color: #fff;
                            border-radius: 4px;                            
                            color: $toolbar;
                            cursor: pointer;
                            outline: none;

                            &:active{
                                background-color: $red;
                                color: #fff;
                            }
                        }
                    }

                    &:hover{
                        border: 1px solid $inactive;
                    }
                }

                .table-management,
                .discount-management{
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;
                    background-color: #fff;
                    max-height: 0;
                    overflow: hidden;
                    transition: all .4s ease;

                    .input-group{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;
                        padding: 0 15px;

                        label{
                            font-size: .8em;
                            color: #999;
                            font-weight: 500;
                            margin-bottom: 5px;
                        }

                        .form-control{
                            flex: 1;
                            padding: 10px 12px;
                            font-family: $font-family !important;
                            outline: none;
                            border-radius: 4px;
                            border: 1px solid #ddd;
                            font-weight: 500;
                            font-size: .9em;
                            transition: all 0.3s ease;

                            &:focus{
                                border: 1px solid $btn-primary;
                                box-shadow: $shadow;
                            }
                        }

                        &:first-child{
                            padding-top: 15px;
                        }

                        &:last-child{
                            padding-bottom: 15px;
                            margin-bottom: 0;
                        }
                    }
                }

                .chevron-right-rotate{
                    transform: rotate(90deg);
                    transition: all .4 ease;
                }

                .cashier-transaction{
                    border: 1px solid #f3f3f3;
                    padding: 10px 15px;
                    border-radius: 4px;
                    margin-bottom: 15px;
                    background-color: #fff;
                    list-style: none;
                    display: none;

                    li{
                        flex: 1;
                        margin: 5px 0;
                        padding: 5px 0;
                        color: $toolbar;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: .9em;
                        border-bottom: 1px solid #fafafa;

                        .form-control{
                            width: 40%;
                            padding: 7px;
                            font-family: $font-family !important;
                            border-radius: 4px;
                            outline: none;
                            transition: all 0.3s ease;
                            border: 1px solid #ddd;
                            font-weight: 500;
                            font-size: 1em;
                            background-color: #fff;
                            color: $toolbar;
                            text-align: right;

                            &:focus{
                                border: 1px solid $btn-primary;
                            }
                        }
                    }
                }

                .process-order{
                    display: flex;
                    display: none;

                    .btn-process{
                        width: 100%;
                        border: none;
                        padding: 10px;
                        border-radius: 4px;
                        color: #fff;
                        background-color: $btn-primary;
                        font-family: $font-family;
                        font-size: .9em;
                        font-weight: 500;
                        cursor: pointer;
                        outline: none;
                        box-shadow: $shadow;

                        &:hover{
                            opacity: 0.8;
                        }

                        &:active{
                            background-color: #999;
                        }
                    }
                }
            }
        }
    }
    // Ends here

    @import 'my_account';

    .modal{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        max-height: 0;
        overflow-y: auto;
        overflow-x: hidden;

        .modal-content{
            padding: 20px;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: $shadow;
            position: relative;
            overflow: hidden;
            width: 30%;
            margin: 20px;

            h3{
                color: $toolbar;
                font-weight: 500;
            }

            .dismiss-modal{
                position: absolute;
                right: 10px;
                top: 10px;
                border: none;
                padding: 10px;
                background-color: #fff;
                color: $toolbar;
                cursor: pointer;
                outline: none;

                &:hover{
                    color: $red;
                }

                &:active{
                    color: $toolbar;
                }
            }

            .row{

                .profile-image{
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #eee;
                    border-radius: 4px;
                    padding: 10px;

                    img{
                        width: 70%;
                        height: auto;
                        border-radius: 4px;
                    }
                }

                .image-form{
                    display: flex;
                    flex-direction: column;

                    .btn-choose-photo,
                    .btn-upload,
                    .btn-cancel{
                        outline: none;
                        padding: 10px;
                        font-size: 0.9em;
                        font-weight: 500;
                        font-family: $font-family;
                        cursor: pointer;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span{
                            margin-right: 10px;
                        }
                    }

                    .input-group{
                        margin-bottom: 10px;

                        .btn-choose-photo{
                            width: 100%;
                            color: $btn-primary;
                            margin-bottom: 10px;
                            background-color: #fff;
                            border: 1px dashed $btn-primary;
                            outline: none;
                        }
                    }                    

                    .action-btn{
                        display: flex;
                        justify-content: flex-end;

                        .btn-upload{
                            border: none;
                            background-color: $btn-primary;
                            box-shadow: $shadow;
                            color: #fff;
                            outline: none;
                            padding: 10px 30px;

                            &:active{
                                background-color: $btn-secondary;
                                color: #fff;
                            }
                        }

                        .btn-cancel{
                            outline: none;
                            border: none;
                            color: $toolbar;
                            padding: 10px 20px;
                            margin-right: 10px;

                            &:active{
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }

    .content,
    .dashboard-container,
    .dashboard-content,
    .customer-content{
        margin: 0 30px;
    }
}