main{
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden;

    @import 'header';

    @import 'breadcrumb';

    @import 'filters';

    @import 'content';

    @import 'cashier';

    @import 'modal';

    @import 'dashboard';

    @import 'my_account';

    .content,
    .dashboard-container,
    .dashboard-content,
    .user-container{
        margin: 0 30px;
    }
}