main{
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden;

    .header-content{
        display: flex;
        flex-direction: column;
        margin: 20px 30px;

        nav{
            padding: 10px 20px;
            box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            border-radius: 4px;

            .date-time{
                display: flex;
                justify-content: center;
                align-items: center;

                h5{
                    font-size: .9em;
                    font-weight: 500;
                    color: $toolbar;
                    margin: 0;
                    padding: 0;
                }
            }

            .user-profile{
                display: flex;
                align-items: center;
                justify-content: flex-end;

                ul.notifications{
                    list-style: none;
                    display: flex;
                    align-items: center;
                    margin-right: 15px;

                    li{
                        margin: 10px;

                        a{
                            text-decoration: none;
                            color: $toolbar;
                            display: flex;
                            justify-content: center;
                            position: relative;

                            .new-notifications{
                                color: $red;
                                font-size: .5em;
                                position: aboslute;
                                bottom: 0;
                            }

                            .feather{
                                width: 20px;
                                height: 20px;
                            }

                            &:active{
                                color: $btn-primary;
                            }
                        }
                    }
                }

                a.btn-dropdown{
                    color: $toolbar;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: .9em;
                    display: flex;
                    align-items: center;

                    .username{
                        // margin-right: 10px;
                        text-align: right;
                        display: flex;
                        align-items: center;
                        overflow: hidden;

                        .image-wrapper{
                            border-radius: 50%;
                            width: 34px;
                            height: 34px;
                            background-color: #eee;
                            background-size: cover;
                            background-position: center;
                            overflow: hidden;
                            border: 2px solid $inactive;
                        }
    
                        h4{
                            margin-right: 10px;
                            font-weight: 500;
                        }
                    }

                    #admin-arrow{
                        transform: rotate(-90deg);
                        transition: all .3s ease;
                    }

                    .arrow-focus{
                        transform: rotate(0deg) !important;
                        transition: all .3s ease;
                    }                    
                }

                .admin-dropdown{
                    z-index: 1;
                    position: absolute;
                    top: 60px;
                    right: 15px;
                    background-color: #fff;
                    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
                    border-radius: 4px;
                    list-style: none;
                    overflow: hidden;
                    max-height: 0;
                    transition: all 0.4s ease;

                    ul{
                        list-style: none;
                        
                        li{
                            display: flex;
                            flex-direction: column;

                            a{
                                padding: 10px 20px;
                                padding-right: 35px;
                                text-decoration: none;
                                color: $toolbar;
                                font-weight: 500;
                                font-size: .9em;
                                display: flex;
                                align-items: center;

                                span{
                                    margin-left: 10px;
                                }

                                &:hover{
                                    background-color: $primary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .filter-content{
        background-color: #fff;
        box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
        border-radius: 4px;
        overflow: hidden;
        padding: 15px 20px;
        margin: 20px 30px;

        h3{
            font-weight: 500;
            color: $toolbar;
        }
    }

    .content{
        background-color: #fff;
        box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
        border-radius: 4px;
        overflow: hidden;

        .filters{
            display: flex;
            align-items: center;
            position: relative;
            padding: 20px;

            h2{
                font-weight: 500;
                color: $toolbar;
            }

            .add_link{
                a{
                    text-decoration: none;
                    padding: 10px 20px;
                    border-radius: 4px;
                    background-color: $btn-add;
                    box-shadow: 1px 3px 15px rgba(0,0,0,0.1);
                    color: #fff;
                    font-size: 0.9em;
                    font-weight: 500;
                    margin-right: 5px;

                    &:active{
                        background-color: #999;
                    }
                }
            }

            .row{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .selections,
                #user-form{
                    display: flex;
                    align-items: center;
                    margin-right: 20px;

                    .btn-export{
                        padding: 9px 20px;
                        border: none;
                        background-color: $default;
                        color: #fff;
                        font-family: $font-family;
                        font-size: .9em;
                        font-weight: 600;
                        border-radius: 4px;
                        cursor: pointer;
                        outline: none;
                        box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
                        display: flex;
                        justify-content: space-between;

                        span{
                            margin-right: 5px;
                        }

                        .download{
                            position: relative;
                            top: 2.5px;
                        }

                        &:active{
                            background-color: $toolbar;
                            color: #fff;
                        }
                    }
    
                    p{
                        font-size: .8em;
                        font-weight: 500;
                        color: #999;
                        margin-right: 5px;
                    }
    
                    select{
                        border-radius: 4px;
                        border: 1px solid #eee;
                        color: #555;
                        padding: 10px 15px;
                        font-family: $font-family;
                        font-size: .9em;
                        outline: none;
                        font-weight: 500;
                        box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
                    }

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }

        #myGrid{
            width: 100%;
            height: 80vh;
        }

        .data-profile{
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .profile{
                width: 36px;
                height: 36px;
                border-radius: 50%;
                border: 2px solid #eee;
            }

            p{
                color: $toolbar;
                margin-left: 5px;
            }

            .user-status{
                margin-left: 10px;
                border-radius: 4px;
                padding: 3px 7px;
                display: flex;
                align-items: center;

                .circle{
                    font-size: .5em;                                
                }

                .status-code{
                    margin-left: 5px;
                    font-size: .7em;
                }
            }

            .status-online{
                color: $green;
            }

            .status-idle{
                color: $gold;
            }

            .status-offline{
                color: $default;
            }
        }

        .btn-edit,
        .btn-remove,
        .btn-view{

            font-size: .9em;
            padding: 11px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 5px;
            color: #fff;
            box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

            &:hover{
                opacity: .9;
            }

            &:active{
                background-color: #999;
            }
        }

        .btn-edit{
            background-color: $btn-primary;
        }

        .btn-remove{
            background-color: $btn-remove;
            padding: 11px 13px;
        }

        .card-form{
            padding: 20px;
            background-color: #fff;
            box-shadow: 1px 20px 35px rgba(0,0,0,0.1);
            border-radius: 10px;
            overflow: hidden;
            text-align: left;

            h3{
                font-weight: 500;
                color: $toolbar;
            }

            .input-group{
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                text-align: left;

                label{
                    font-size: .8em;
                    color: #999;
                    font-weight: 500;
                    margin-bottom: 5px;
                }

                .columns{
                    display: grid;
                    grid-template-columns: 75% 20% 5%;
                    align-items: center;
                    margin-bottom: 20px;

                    .form-control{
                        margin-right: 20px;
                        flex: 0;

                        &:last-child{
                            margin-right: 0;
                        }
                    }

                    .btn-minus,
                    .btn-plus{
                        border: none;
                        outline: none;
                        padding: 5px;
                        border-radius: 4px;
                        cursor: pointer;                        
                        font-size: .9em;
                        font-weight: 600;
                        color: #fff;
                        box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

                        &:active{
                            background-color: $toolbar;
                        }
                    }

                    .btn-minus{
                        background-color: $red;
                    }

                    .btn-plus{
                        background-color: $btn-primary;
                        margin-left: 5px;
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }
                }

                .form-control{
                    flex: 1;
                    padding: 10px 12px;
                    font-family: $font-family !important;
                    outline: none;
                    border-radius: 4px;
                    border: 1px solid #ddd;
                    font-weight: 500;
                    font-size: .9em;
                    transition: all 0.3s ease;
                    resize: none;

                    &:focus{
                        border: 1px solid $btn-primary;
                        box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
                    }
                }

                .form-control-color{
                    outline: none;
                    width: 100%;
                    overflow: hidden;
                    height: 30px;
                    border-radius: 4px;
                    border: none;
                    background-color: #fcfcfc;
                    padding: 5px;
                    border: 1px solid #ddd;

                    &:focus{
                        border: 1px solid $btn-primary;
                        background-color: #fff;
                        box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
                    }
                }

                .invalid-feedback,
                .messages{
                    strong{
                        color: $red;
                        font-size: .9em;
                        font-weight: 500;
                    }
                }
            }

            .actions{
                margin-top: 15px;
                text-align: right;

                button, a{
                    text-decoration: none;
                    margin-right: 10px;
                    cursor: pointer;
                    padding: 10px 30px;
                    border: none;
                    outline: none;
                    border-radius: 4px;
                    font-family: $font-family;
                    font-size: .9em;
                    font-weight: 500;
                    color: $toolbar;
                    background-color: #dedede;
                    transition: all 0.4s ease;

                    &:hover{
                        opacity: 0.8;
                    }

                    &:active{
                        background-color: #999;
                    }

                    &:last-child{
                        margin-right: 0;
                    }
                }

                .btn-submit{
                    background-color: $btn-primary;
                    color: #fff;
                    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
                }
            }
        }
    }

    .dashboard-container{        
        .dashboard-cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            .reports-card{
                grid-column: 1 / 3;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 20px;

                .reports{
                    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
                    overflow: hidden;
                    padding: 20px;
                    border-radius: 4px;
                    background-color: #fff;

                    h4{
                        color: $default;
                        font-weight: 500;
                    }

                    .report-record{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h2{
                            color: $toolbar;
                            margin-right: 15px;
                            font-weight: 600;
                        }

                        .card-icon{
                            background-color: #ddd;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 10px;
                        }

                        #sales-icon{
                            background-color: #00e39633;
                            color: #00e396;
                        }

                        #expenses-icon{
                            background-color: #ff456033;
                            color: #ff4560;   
                        }                        

                        #order-icon{
                            background-color: #feb01933;
                            color: #feb019;
                        }

                        #customer-icon{
                            background-color: #775dd033;
                            color: #775dd0;
                        }
                    }

                }
            }

            .exp-vs-sales{
                box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
                overflow: hidden;
                padding: 20px;
                border-radius: 4px;
                background-color: #fff;

                h4{
                    color: $default;
                    font-weight: 500;
                    margin-bottom: 15px;
                }

                #report-chart{
                    height: auto;
                }
            }

            .report-details{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;

                .details1,
                .details2{
                    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
                    overflow: hidden;
                    padding: 20px;
                    border-radius: 4px;
                    background-color: #fff;
                }

                .details1{
                    
                }

                .details2{
                    
                }
            }
        }
    }

    .dashboard-content{
        display: flex;
        overflow: hidden;

        .menus-orders{
            flex: 1;
            overflow: hidden;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .dashboard-menus{
                flex: 2;
                padding: 15px;
                display: flex;
                flex-direction: column;
                background-color: #fff;
                box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
                border-radius: 4px;
                margin-right: 20px;

                ul.menu-categories{
                    overflow: hidden;
                    list-style-type: none;
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    margin-bottom: 5px;

                    li.menu-items{
                        display: flex;
                        margin-bottom: 10px;
                        margin-right: 10px;

                        .btn-filters{
                            color: $toolbar;
                            text-decoration: none;
                            padding: 5px 15px;
                            transitions: all 0.2s ease;
                            font-size: .9em;
                            color: $toolbar;
                            border-radius: 20px;
                            background-color: $primary;

                            &:hover{
                                background-color: $inactive;
                                color: $toolbar;
                            }

                            &:active{
                                background-color: $btn-primary;
                                color: #fff;
                            }
                        }

                        .btn-filter-focus{
                            background-color: $btn-primary;
                            color: #fff;
                            box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

                            &:hover{
                                background-color: $btn-primary;
                                color: #fff;
                            }
                        }
                    }
                }

                .search-control{
                    text-align: right;
                    margin-bottom: 15px;
                    padding: 0 10px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border-radius: 4px;
                    border: 1px solid $inactive;
                    transition: all 0.3s ease;
                    background-color: #fff;

                    .search-icon{
                        position: relative;
                        top: 2.5px;
                        color: $inactive;
                    }

                    .form-control{
                        font-weight: 500;
                        font-size: .9em;    
                        font-family: $font-family;
                        flex: 1;
                        padding: 10px;
                        outline: none;
                        border: none;
                    }

                    &:focus-within{
                        border: 1px solid $btn-primary;
                        box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
                        background-color: #fff;
                    }
                }

                #myGrid{
                    width: 100%;
                }

                .btn-add{
                    font-weight: 500;
                    padding: 9px 13px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    color: #fff;
                    font-family: $font-family;
                    background-color: $btn-primary;
                    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

                    &:hover{
                        opacity: .9;
                    }

                    &:active{
                        background-color: #999;
                    }
                }
            }

            .dashboard-orders{
                flex: 1.2;
                padding: 15px;
                background-color: #fff;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
                border-radius: 4px;

                .add-link{
                    display: flex;
                    margin-bottom: 15px;

                    a{
                        flex: 1;
                        text-decoration: none;
                        padding: 10px;
                        border-radius: 4px;
                        background-color: #fff;
                        border: 1px solid $btn-add;
                        color: $btn-add;
                        font-size: 0.9em;
                        font-weight: 500;
                        text-align: center;
                        box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .feather{
                            margin-right: 5px;
                        }

                        &:active{
                            background-color: $btn-add;
                            color: #fff;
                        }
                    }
                }

                h3{
                    font-weight: 500;
                    color: $toolbar;
                    margin-bottom: 15px;
                }

                .btn-section{
                    font-weight: 500;
                    color: $btn-primary;
                    margin-bottom: 15px;
                    font-family: $font-family;
                    font-size: 1em;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: none;
                    outline: none;
                    background-color: #fff;
                    cursor: pointer;
                    transition: all .4s ease;                    

                    .feather{
                        position: relative;
                        top: 2.5px;
                    }

                    &:hover{
                        color: $btn-secondary;
                    }
                }

                .no-orders{
                    text-align: center;
                    padding: 20px;
                    display: none;

                    h2{
                        color: $default;
                        font-family: $font-family;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .feather{
                            width: 40px !important;
                            height: 40px !important;
                            margin-right: 15px;
                        }
                    }
                }

                .other-options{
                    text-align: right;
                    margin-bottom: 15px;
                    display: none;

                    .btn-remove-all{
                        box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
                        outline: none;
                        font-family: $font-family;
                        background-color: #fff;
                        border: 1px solid $red;
                        color: $red;
                        font-size: .9em;
                        padding: 7px 10px;
                        border-radius: 4px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .feather{
                            margin-right: 5px;
                        }

                        &:active{
                            background-color: $red;
                            color: #fff;
                        }
                    }
                }

                #order-lists{
                    overflow: hidden;
                    transition: all 1s ease;
                    max-height: 100%;
                }

                .order-lists{
                    height: 40vh;
                    overflow-y: auto !important;
                }

                .order-list{
                    overflow: hidden;
                    padding: 10px;
                    margin-bottom: 15px;
                    border-radius: 4px;
                    border: 1px solid #f3f3f3;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    transition: all 0.4s ease;

                    .menu-info{
                        display: flex;

                        .form-control{
                            width: 15%;
                            font-family: $font-family !important;
                            border-radius: 4px;
                            outline: none;
                            transition: all 0.3s ease;
                            border: 1px solid #ddd;
                            font-weight: 600;
                            font-size: 1.2em;
                            background-color: #fafafa;
                            text-align: center;
                            color: $toolbar;

                            &:focus{
                                border: 1px solid $btn-primary;
                                background-color: #fff;
                            }
                        }

                        .order-menu{
                            flex: 1;
                            text-align: left;
                            margin: 0 10px;

                            h4{
                                font-weight: 500;
                                color: $toolbar;
                            }

                            p{
                                font-size: .9em;
                                color: $default;
                            }
                        }
                    }

                    .void-menu{
                        .btn-remove{
                            padding: 5px 8px !important;
                            border: 1px solid $inactive;
                            background-color: #fff;
                            border-radius: 4px;                            
                            color: $toolbar;
                            cursor: pointer;
                            outline: none;

                            &:active{
                                background-color: $red;
                                color: #fff;
                            }
                        }
                    }

                    &:hover{
                        border: 1px solid $inactive;
                    }
                }

                .table-management,
                .discount-management{
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;
                    background-color: #fff;
                    max-height: 0;
                    overflow: hidden;
                    transition: all .4s ease;

                    .input-group{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;
                        padding: 0 15px;

                        label{
                            font-size: .8em;
                            color: #999;
                            font-weight: 500;
                            margin-bottom: 5px;
                        }

                        .form-control{
                            flex: 1;
                            padding: 10px 12px;
                            font-family: $font-family !important;
                            outline: none;
                            border-radius: 4px;
                            border: 1px solid #ddd;
                            font-weight: 500;
                            font-size: .9em;
                            transition: all 0.3s ease;

                            &:focus{
                                border: 1px solid $btn-primary;
                                box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
                            }
                        }

                        &:first-child{
                            padding-top: 15px;
                        }

                        &:last-child{
                            padding-bottom: 15px;
                            margin-bottom: 0;
                        }
                    }
                }

                .chevron-right-rotate{
                    transform: rotate(90deg);
                    transition: all .4 ease;
                }

                .cashier-transaction{
                    border: 1px solid #f3f3f3;
                    padding: 10px 15px;
                    border-radius: 4px;
                    margin-bottom: 15px;
                    background-color: #fff;
                    list-style: none;
                    display: none;

                    li{
                        flex: 1;
                        margin: 5px 0;
                        padding: 5px 0;
                        color: $toolbar;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: .9em;
                        border-bottom: 1px solid #fafafa;

                        .form-control{
                            width: 40%;
                            padding: 7px;
                            font-family: $font-family !important;
                            border-radius: 4px;
                            outline: none;
                            transition: all 0.3s ease;
                            border: 1px solid #ddd;
                            font-weight: 500;
                            font-size: 1em;
                            background-color: #fff;
                            color: $toolbar;
                            text-align: right;

                            &:focus{
                                border: 1px solid $btn-primary;
                            }
                        }
                    }
                }

                .process-order{
                    display: flex;
                    display: none;

                    .btn-process{
                        width: 100%;
                        border: none;
                        padding: 10px;
                        border-radius: 4px;
                        color: #fff;
                        background-color: $btn-primary;
                        font-family: $font-family;
                        font-size: .9em;
                        font-weight: 500;
                        cursor: pointer;
                        outline: none;
                        box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

                        &:hover{
                            opacity: 0.8;
                        }

                        &:active{
                            background-color: #999;
                        }
                    }
                }
            }
        }
    }

    .customer-content{
        @import 'my_account';
    }

    .modal{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        max-height: 0;
        overflow-y: auto;
        overflow-x: hidden;

        .modal-content{
            padding: 20px;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
            position: relative;
            overflow: hidden;
            width: 30%;
            margin: 20px;

            h3{
                color: $toolbar;
                font-weight: 500;
            }

            .dismiss-modal{
                position: absolute;
                right: 10px;
                top: 10px;
                border: none;
                padding: 10px;
                background-color: #fff;
                color: $toolbar;
                cursor: pointer;
                outline: none;

                &:hover{
                    color: $red;
                }

                &:active{
                    color: $toolbar;
                }
            }

            .row{

                .profile-image{
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #eee;
                    border-radius: 4px;
                    padding: 10px;

                    img{
                        width: 70%;
                        height: auto;
                        border-radius: 4px;
                    }
                }

                .image-form{
                    display: flex;
                    flex-direction: column;

                    .btn-choose-photo,
                    .btn-upload,
                    .btn-cancel{
                        outline: none;
                        padding: 10px;
                        font-size: 0.9em;
                        font-weight: 500;
                        font-family: $font-family;
                        cursor: pointer;
                        border-radius: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span{
                            margin-right: 10px;
                        }
                    }

                    .input-group{
                        margin-bottom: 10px;

                        .btn-choose-photo{
                            width: 100%;
                            color: $btn-primary;
                            margin-bottom: 10px;
                            background-color: #fff;
                            border: 1px dashed $btn-primary;
                            outline: none;
                        }
                    }                    

                    .action-btn{
                        display: flex;
                        justify-content: flex-end;

                        .btn-upload{
                            border: none;
                            background-color: $btn-primary;
                            box-shadow: 1px 3px 15px rgba(0,0,0,0.1);
                            color: #fff;
                            outline: none;
                            padding: 10px 30px;

                            &:active{
                                background-color: $btn-secondary;
                                color: #fff;
                            }
                        }

                        .btn-cancel{
                            outline: none;
                            border: none;
                            color: $toolbar;
                            padding: 10px 20px;
                            margin-right: 10px;

                            &:active{
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }

    .content,
    .dashboard-container,
    .dashboard-content,
    .customer-content{
        margin: 0 30px;
    }
}