.auth-container{
    .auth-content{
        background-color: #eee; //$body-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    
        .auth-card{
            border: $border;
            box-shadow: $shadow;
            border-radius: $radius;
            overflow: hidden;
            position: relative;
            background-color: #fff !important;
            display: flex;
            justify-content: space-between;  
    
            .body-card{
                flex: 1;
                display: flex;
                flex-direction: column;
                background-color: #fff;
    
                h5{                
                    font-weight: 500;
                    margin-bottom: 15px;
                }
    
                #login-form{
                    width: 100%;
                }
    
                .form-group{
                    margin-bottom: 15px;
                    display: flex;
                    flex-direction: column;
                    position: relative;
    
                    label{
                        margin-bottom: 5px;
                        font-size: .9em;
                        font-weight: 500;
                    }
    
                    .input-group-single{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        border-radius: 4px;
                        transition: all 0.3s ease;
                        border: 1px solid #ddd;
                        font-weight: 500;
                        background-color: #fff;
                        padding: 0 10px;
    
                        .icon{
                            color: #555;
                            font-size: .9em;
                        }
    
                        .form-control{
                            border: none;
                            outline: none;
                            background-color: transparent;
                            font-weight: 500;
                            color: $toolbar;
                            flex: 1;
                            font-size: .9em;
                        }
                        
    
                        &:focus-within{
                            border: 1px solid $btn-primary;
                            background-color: #fff;
                            box-shadow: $shadow-sm;
                        }
                    }
    
                    .invalid-feedback{
                        color: $red;
                        font-size: .9em;
                        font-weight: 500;
                        display: block !important;
                    }
    
                    input:required {
                        box-shadow: none;
                    }
    
                    input:invalid {
                        box-shadow: 0 0 3px transparent;
                    }
    
                    .form-check{
                        label{
                            font-size: 1em;
                            position: relative;
                            top: 1.5px;
                            font-weight: 500;
                        }
                    }
    
                    .two-cols{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                        .btn-go-back{
                            color: $btn-primary;
                            font-family: $font-family;
                            font-size: .9em;
                            font-weight: 500;
                        }
                    }

                    .btn-auth{
                        border-radius: 5px;
                        font-family: $font-family;
                        font-size: .9em;
                        font-weight: 500;
                        padding: 8px;
                        transition: all 0.4s ease;
                        color: #fff;
                        background-color: $btn-primary;
    
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }

                .forgot{
                    a{
                        font-size: .9em;
                        color: $btn-primary;
                        outline: none;
                        font-weight: 500;
                    }
                }
            }
        }
    }        
}
