.header{
    text-align: left;
    display: flex;
    align-items: center;
    margin: 0px 30px;

    h4{
        font-weight: 500;
        color: $toolbar;
        margin-bottom: 0 !important;
    }

    .breadcrumb-section{
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: -1px;

        .breadcrumb-items{
            margin-right: 10px;
            color: $default;
            font-weight: 500;
            font-size: .9em;
            position: relative;

            a{
                text-decoration: none;
                color: $default;
                font-size: .9em;

                &:hover{
                    color: #555;
                    text-decoration: underline;
                }
            }

            &:last-child{
                display: none;
            }
        }
    }
}