.card{
    border: $border;
    box-shadow: $shadow;
    border-radius: $radius;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .card-icon{
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        color: $btn-primary;
        background-color: #0e76bd33;
        box-shadow: $shadow-sm;

        .feather{
            height: 24px;
            width: 24px;
        }
    }
}

#report-chart{
    // height: auto;
    width: 100%;
}