.header-content{
    display: flex;
    flex-direction: column;
    // margin: 20px 30px;

    nav{
        padding: 15px 20px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-bottom: 1px solid #f3f3f3;

        .date-time{
            display: flex;
            justify-content: center;
            align-items: center;

            h5{
                font-size: .9em;
                font-weight: 500;
                color: $toolbar;
                margin: 0;
                padding: 0;
            }
        }

        .user-profile{
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .btn-dropdown{
                color: $toolbar;
                text-decoration: none;
                font-weight: 600;
                font-size: .9em;
                display: flex;
                align-items: center;
                background-size: cover;
                height: 42px;
                width: 42px;
            }
        }
    }
}

.dropdown-menu{
    box-shadow: $dropDown-shadow !important;
    border-radius: $radius !important;
    border: none !important;
    padding: 15px 0;

    .dropdown-item{
        color: $toolbar;
        outline: none !important;
        font-size: .9em !important;
        color: $toolbar !important;

        &:active{
            color: $toolbar;
        }
    }

    .profile-image{
        display: flex;
        align-items: center;
        background-size: cover;
        height: 40px;
        width: 40px;
    }

    .profile-info{
        display: flex;
        flex-direction: column;
        align-items: start;

        #user-name{
            color: $toolbar;
            font-size: .9em;
        }

        #user-email{
            color: $default;
            font-size: .8em;
        }
    }
}