nav{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: $radius;
    box-shadow: $shadow;

    .user-profile{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .btn-dropdown{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 42px;
            width: 42px;
            
            img{
                height: 42px;
                width: 42px;
                object-fit: cover;
            }
        }
    }
}

.dropdown-menu{
    box-shadow: $dropDown-shadow !important;
    border-radius: $radius !important;
    border: none !important;
    padding: 15px 0;

    .dropdown-item{
        color: $toolbar;
        outline: none !important;
        font-size: .9em !important;
        color: $toolbar !important;

        &:active{
            color: $toolbar;
        }
    }

    .profile-image{
        display: flex;
        align-items: center;
        background-size: cover;
        height: 40px;
        width: 40px;
    }

    .profile-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        #user-name{
            color: $toolbar;
            font-size: .9em;
        }

        #user-email{
            color: $default;
            font-size: .8em;
        }
    }
}