.list-options{
    ul{
        list-style: none;
        box-shadow: $shadow;
        border-radius: $radius;
        border: $border;
        overflow: hidden;
        padding: 15px 0;
        background-color: #fff;

        li{
            font-weight: 500;
            font-size: .9em;
            display: flex;

            a{
                text-decoration: none;
                padding: 8px 30px;
                flex: 1;
                border-radius: 4px;
                color: $toolbar;

                span{
                    margin-left: 10px;
                }

                &:hover{
                    color: $btn-primary;
                }
            }
        }
    }
}

.user-content{
    padding: 20px;
    background-color: #fff;
    box-shadow: $shadow;
    border-radius: $radius;
    border: $border;
    overflow: hidden;
    margin-bottom: 20px;
    
    h5{
        color: $toolbar;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .input-group{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        text-align: left;

        label{
            font-size: .8em;
            color: #999;
            font-weight: 500;
            margin-bottom: 5px;
        }

        .form-control{
            outline: none;
            border-radius: 4px;
            font-weight: 500;
            font-size: .9em;
            transition: all 0.3s ease;
            resize: none;
            width: 100% !important;

            &:focus{
                border: 1px solid $btn-primary;
                box-shadow: $shadow;
            }
        }

        .invalid-feedback{
            strong{
                color: $red;
                font-size: .9em;
                font-weight: 500;
            }
        }
    }        

    .actions{
        text-align: right;

        button{
            margin-right: 5px;
            border-radius: 5px;
            font-family: $font-family;
            font-size: .9em;
            font-weight: 500;
            transition: all 0.4s ease;
            color: #fff;
            padding: 8px 15px;

            &:last-child{
                margin-right: 0;
            }
        }

        .btn-save{
            background-color: $btn-primary;
        }
    }
}   