.sidebar{
    width: 350px !important;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #f3f3f3;
    box-shadow: $shadow;
    background-color: #fff;
    transition: all 1s ease;

    .logo{
        padding: 20px 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img{
            width: 130px;
        }

        button{
            position: absolute;
            right: 5px;
            top: 20px;
        }
    }

    .btn-sidebar::-webkit-scrollbar-thumb{
        display: none;
    }

    .btn-sidebar{
        flex: 1;
        list-style: none;
        transition: all 0.2s ease;
        overflow-y: auto !important;

        li{
            display: flex;
            flex-direction: column;
            overflow: hidden;

            a{
                text-decoration: none;
                color: $toolbar;
                font-size: .9em;
                font-weight: 500;
                padding: 8px 0;
                border-radius: 4px;
                outline: none;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .feather{
                    width: 17px;
                    height: 17px;
                }

                .awesome2{
                    font-size: .5em !important;
                }

                span{
                    margin-left: 15px;
                }

                .dropdown{
                    position: absolute;
                    right: 12px;
                    transition: all .3s ease;
                    transform: rotate(270deg);
                }

                &:hover{
                    color: $btn-primary;
                }

                &:active{
                    color: $toolbar;
                }
            }

            .sub-nav{
                transition: all .8s ease !important;
                max-height: 0;
            }

            .sidebar-focus{
                background: $btn-primary;
                color: #fff;
                box-shadow: $shadow;

                &:hover{
                    background: $btn-primary;
                    color: #fff;
                }
            }

            .dropdown-focus{
                transform: rotate(360deg) !important;
            }

            .selected-color{
                color: $btn-primary;
            }
        }

        &:hover::-webkit-scrollbar-thumb{
            display: block;
        }
    }
}


.slide-nav{
    width: 300px !important;
    position: absolute;
	z-index: 9999;
}