$body-bg: #fff; // #f8fafc;

$shadow: 0 6px 12px rgba(140,152,164,.075);
$dropDown-shadow: 0 10px 40px 10px rgba(140,152,164,.175);
$border: .0625rem solid rgba(231,234,243,.7);
$radius: .75rem;

// Typography
$font-family: 'Poppins', 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$red: #EA2034;
$default: #909090;
$primary: #f8f8f8;
$toolbar: #3e4044;
$inactive: #ddd;

$btn-primary: #0e76bd;
$btn-add: #0e76bd; // for add action
$btn-secondary: #3f51b5;
$btn-remove: #EA2034;

// palette 1
$blue: #008ffb;
$green: #00e396;
$gold: #feb019;
$pink: #ff4560;
$purple: #775dd0;

// palette 2
$dark-blue: #3f51b5;
$sky-blue: #03a9f4;
$army-green: #4caf50;
$light-orange: #f9ce1d;
$orange: #ff9800;
